/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.container {
  width: 900px;
  margin: auto;
}

.text-center {
  text-align: center;
}

/* banner */
.banner {
  background-image: url(../images/BOB\ Building\ our\ Businesses.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  opacity: 1;
}

.banner h1 {
    color: white;
}

.banner p {
    color: white;
    opacity: .85;
    font-size: 20px;
}

/* button */
.btn-primary {
    display: inline-block;
    background-color: rgb(58, 58, 58);
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
}

/* cards */
.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230 230 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.card img {
  height: 100px;
}

.card p {
  opacity: .5;
}

/* footer */
.footer {
    text-align: center;
    padding: 60px;
    background-color: #2c2b2b;
}

.footer a {
    font-size: 30px;
    color: #ffffff;
}

.footer p {
  color: #ffffff;
  opacity: 0.85;
}
